@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.sidebar-scroll::-webkit-scrollbar {
    width: 2px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 2px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}